html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff5cc;
  font-family: 'Lora', serif;
}

.g-map {
  height: 50vh;
  width: 80%;
  margin: auto;
  margin-top: 15px;
  border-radius: 5px;
}

.panel-group {
  margin-top: 20px;
}

.panel-heading {
  font-size: 25px;
  background-color: brown;
}

.panel-info>.panel-heading {
    color: #804000;
    background-color: #ffce99;
    border-color: black;
}

.navbar {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  margin-top: 10px;
  /*border: 1px solid #D4D06A;*/
  background-color: #ffebcc;
}

.navbar a {
  font-size: 30px;
  color: #804000;
}

.nav>li>a:hover {
    text-decoration: none;
    background-color:  #ffd9b3;
}

.navbar-nav {
  float: left;
  margin: 0;
  padding-top: 15px;
}

.showImage {
  margin-left: 300px;
}

.reviewindex {
  background-color: #e0e0eb;
  border-radius: 5px;
}

/*.reviewedit  {
  background-color: #e0e0eb;
  border-radius: 5px;
}*/

/*.useredit {
background-color: #e0e0eb;
border-radius: 5px;
}*/

.homePage {
  background-image: url("/images/bulldog.jpg");
  background-size: cover;
  background-image: no-repeat;
  width:1135px;
  height:700px;
  margin-left: 170px;
}

#submit {
  width: 300px;
  margin-left: 100px;
}

.loginPage {
  width: 700px;
  height: 700px;
  padding: 0px;
  background-image: url("/images/login_dog.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/*.loginWell { 
  text-align: center;
}*/

#loginHead {
  margin-left: 160px;
  font-size: 60px;
  margin-top: 50px;
}

.formEmail {
  padding: 100px;
}

.registerPage {
  width: 700px;
  height: 700px;
  padding: 0px;
  background-image: url("/images/register_dog.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/*.registerWell {
  text-align: center;
}*/

#submitReg {
  width: 300px;
  margin-left: 200px;
}

#registerHead {
  margin-left: 160px;
  font-size: 60px;
  margin-top: 50px;
}

#homeTitle {
  text-align: center;
  color: white;
  padding-top: 85px;
  font-size: 80px;
}

#welcomeDetail {
  color: white;
  text-align: center;
  margin-top: 130px;
  font-size: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

#addressinfo {
  font-weight: bold;
  color: brown;
  font-size: 17px;
}

#ratinginfo {
  color: #804000;
  font-size: 17px;
  font-family: 'Lobster', cursive;
}

#petName {
  color: #804000;
}

#userinfo {
  font-size: 15px;
  color: #804000;
}

#emailinfo {
  font-size: 15px;
  color: #804000;
}

.fa {
  color: #804000; 
  margin-left: 8px;
}

#userShow {
  color: #804000;
}

#userEmail {
  color: #804000;
}

#userPet {
  color: #804000;
}

#editHeading {
  font-family: 'Lobster', cursive;
  color: #804000;
}

#editHeaduser {
  font-family: 'Lobster', cursive;
  color: #804000;
}

.golden {
  float: right;
}













/*#map {
  height: 300px;
  margin: 50px auto;
}*/