



<div class="homePage">

  <h1 id="homeTitle"> Paws Allowed</h1>

    <div id="welcomeDetail">
        <p><strong id="openwords">Welcome</strong> to Paws Allowed, a site dedicated to providing you with loads of information about 
        dog-friendly locations. It can be a real problem if your planning to visit somewhere in the 
        country especially an area you don't know well and your not sure where you can take your dog, 
        what restaurants, bars and beaches you could visit!</p> 

        <p>On this site you can browse through the many reviews that users have posted to find out 
        potential visits. The reviews cover the British Isles and focus particulalry on dog-friendly 
        beaches, restaurants and bar locations. </p>

        <p>If you sign up as a registered user you can create, edit and post your own reviews providing useful 
        helpful information to other dog owners. Share your thoughts and opinions on places where you've visited with your dog.</p> 
        
        <p>Paws Allowed is a great source of information from it's many users and their experiences. Hope
        you find it a great resource in visiting dog-friendly places.</p> 
    </div>    

</div>          


  
      
