
<div class="container loginPage">

<!--   <div class="well loginWell">
    <h2>Login to Pet Friendly</h2> 
  </div>
 -->


<h1 id="loginHead">Paws Allowed</h1>


  <form class="formEmail" ng-submit="login.submit()">
    <div class="form-group ">
      <input type="email" name="email" ng-model="login.credentials.email" placeholder="Email" class="form-control">
    </div>
    <div class="form-group">
      <input type="password" name="password" ng-model="login.credentials.password" placeholder="Password" class="form-control">
    </div>
    <input id="submit" type="submit" value="Submit" class="btn btn-primary">
  </form>  
</div>





