

<div class="container registerPage">
  
<!-- <div class="well registerWell">
    <h2>Register to Pet Friendly</h2> 
  </div> -->


  <h1 id="registerHead">Paws Allowed</h1>



  <form class="formEmail" ng-submit="register.submit()">
    <div class="form-group">
      <input type="text" name="username" class="form-control" ng-model="register.user.username" placeholder="Username">
    </div>
    <div class="form-group">
      <input type="email" name="email" class="form-control" ng-model="register.user.email" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="password" name="password" class="form-control" ng-model="register.user.password" placeholder="Password">
    </div>
    <div class="form-group">
      <input type="password" name="passwordConfirmation" class="form-control" ng-model="register.user.passwordConfirmation" placeholder="Password confirmation">
    </div>

    <input id="submit" type="submit" value="Submit" class="btn btn-primary">
  </form>
</div>  