
<div class="container reviewedit">
  <h1 id="editHeading">Edit your Review</h1>

  <form ng-submit="reviewsEdit.save()">
    <div class="form-group">
      <input places-autocomplete type="text" class="form-control" name="name" ng-model="reviewsEdit.selected.name" placeholder="Name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="address" ng-model="reviewsEdit.selected.address" placeholder="Address">
    </div>
    <div class="form-group">
      <textarea type="text" class="form-control" name="content" ng-model="reviewsEdit.selected.content" placeholder="Content"></textarea></div>
    <div class="form-group">
      <input type="number" class="form-control" step="any" name="lat" ng-model="reviewsEdit.selected.lat" placeholder="Lat">
    </div>
    <div class="form-group">
      <input type="number" class="form-control" step="any" name="lng" ng-model="reviewsEdit.selected.lng" placeholder="Lng">
    </div>
    <div class="form-group">
      <input type="number" class="form-control" name="rating" ng-model="reviewsEdit.selected.rating" placeholder="Rating">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="image" ng-model="reviewsEdit.selected.image" placeholder="Image">
    </div>

    <button class="btn btn-info">Update review</button>
    <button class="btn btn-info" type="button" ui-sref="reviewsShow({ id: reviewsEdit.selected._id })">Cancel review</button>
  </form>
</div>  









