

<div class="container">
  <h3>Users new page</h3>

    <form ng-submit="usersNew.create()">

      <div class="form-group">
        <input type="text" class="form-control" name="username" ng-model="usersNew.new.username" placeholder="Username">
      </div> 
      <div class="form-group"> 
        <input type="text" class="form-control" name="email" ng-model="usersNew.new.email" placeholder="Email">
      </div>  
      <div class="form-group">    
        <input type="text" class="form-control" name="password" ng-model="usersNew.new.password" placeholder="Password">
      </div>  
        <button>Save</button>
        <button type="button" ui-sref="usersShow({ id: usersEdit.selected._id })">Cancel</button>

    </form>    

</div>







